<!--The content below is only a placeholder and can be replaced.-->
<form [formGroup]="fbCasino" class="container">
    Banker's Bet
    <div class="form-group">
        <label class="sr-only" for="bankerBet">Amount (in dollars)</label>
        <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type="text" class="form-control" id="bankerBet" placeholder="Amount" formControlName="bankerBet"
                (keyup)="disableOther($event)">
            <div class="input-group-addon">.00</div>
        </div>
        <div *ngIf="formErrors.bankerBet">
            make sure your enty is between 100 and 5000$
        </div>
    </div>
    Player's Bet
    <div class="form-group">
        <label class="sr-only" for="playerBet">Amount (in dollars)</label>
        <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type="text" class="form-control" id="playerBet" placeholder="Amount" formControlName="playerBet"
                (keyup)="disableOther($event)">
            <div class="input-group-addon">.00</div>
        </div>
        <div *ngIf="formErrors.playerBet" class="error-class">
            make sure your enty is between 100 and 5000$
        </div>
    </div>
    <button class="btn btn-default" type="submit" (click)="placeBet($event)">Go Bet</button>
</form>